[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
python-dateutil = "*"
django-storages = "*"
collectfast = "*"
starkbank = "*"
datetime = "*"
names = "*"
patterns = "*"
ngrok = "*"
django-braces = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
